@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter-bold.eot');
    src: url('../fonts/inter-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/inter-bold.woff2') format('woff2'),
         url('../fonts/inter-bold.woff') format('woff'),
         url('../fonts/inter-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'Inter';
    src: url('../fonts/inter-medium.eot');
    src: url('../fonts/inter-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/inter-medium.woff2') format('woff2'),
         url('../fonts/inter-medium.woff') format('woff'),
         url('../fonts/inter-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'Manrope';
    src: url('../fonts/manrope-bold.eot');
    src: url('../fonts/manrope-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/manrope-bold.woff2') format('woff2'),
         url('../fonts/manrope-bold.woff') format('woff'),
         url('../fonts/manrope-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'Manrope';
    src: url('../fonts/manrope-regular.eot');
    src: url('../fonts/manrope-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/manrope-regular.woff2') format('woff2'),
         url('../fonts/manrope-regular.woff') format('woff'),
         url('../fonts/manrope-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'Public sans';
    src: url('../fonts/publicsans-bold.eot');
    src: url('../fonts/publicsans-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/publicsans-bold.woff2') format('woff2'),
         url('../fonts/publicsans-bold.woff') format('woff'),
         url('../fonts/publicsans-bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-extrabold.eot');
    src: url('../fonts/poppins-extrabold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-extrabold.woff2') format('woff2'),
         url('../fonts/poppins-extrabold.woff') format('woff'),
         url('../fonts/poppins-extrabold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-italic.eot');
    src: url('../fonts/poppins-italic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-italic.woff2') format('woff2'),
         url('../fonts/poppins-italic.woff') format('woff'),
         url('../fonts/poppins-italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}




@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-medium.eot');
    src: url('../fonts/poppins-medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-medium.woff2') format('woff2'),
         url('../fonts/poppins-medium.woff') format('woff'),
         url('../fonts/poppins-medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-regular.eot');
    src: url('../fonts/poppins-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-regular.woff2') format('woff2'),
         url('../fonts/poppins-regular.woff') format('woff'),
         url('../fonts/poppins-regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}




@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-semibold.eot');
    src: url('../fonts/poppins-semibold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/poppins-semibold.woff2') format('woff2'),
         url('../fonts/poppins-semibold.woff') format('woff'),
         url('../fonts/poppins-semibold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


:root{
    --white: #F9F9F9;
    --purpure: #6C5FBC;
    --grey: #EAEAEA;
    --text-color-top-menu: #606060;
    --text-color-bottom-menu: #999999;
    --text-color-description: #676767;
    --text-color-white: #C5C5C5;
    --text-color-title: #201F1F;
    --text-color-decorate: rgba(32, 31, 31, 0.2);
    --text-color-links: #ACADB9;
    --text-color-reviews-show: #636363;
    --text-color-reviews-hide: #969696;
    --hesh-bg-red: #FB471D;
    --hesh-bg-yellow: #DAA31A;
    --hesh-bg-green: #309D5B;
    --status-order-reject: #F1534E;
    --status-order-approved: #309d5c;
    --status-order-main: #323142;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p {
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

button{
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}

.mark-text{
    color: var(--purpure);
}

.header__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1300px;
    margin: auto;
    padding: 30px;
}

.header__nav{
    flex-grow: 1;
}

.header__menu{
    display: flex;
    align-items: center;
}

.header__link{
    display: inline-block;
    padding: 5px;
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
}

.header__control{
    justify-items: flex-end;
}

.header__btn_singup{
    padding: 17px 26px;
    border-radius: 17px;
    background-color: var(--purpure);
    color: var(--white);
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 700;
    line-height: 27px;
    letter-spacing: 0em;
}

.header__btn_login{
    padding: 17px 26px;
    border-radius: 17px;
    color: var(--text-color-top-menu);
    font-family: 'Inter';
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: 0em;
}